@charset "utf-8";

/*font-family:'Sarabun', sans-serif;*/
#wrap{width: 100%; position: relative;overflow:hidden}
.contInner{height:100%;width:100%;position:absolute} /*내용이 채워져서 높이가 잡히면 생략가능*/
#content > section{margin:0 auto;overflow: hidden;}
.inner{margin: 0 auto}
header{width:100%; height:40px; z-index:100;padding-top:20px;padding-bottom: 20px;}
#headerIn{width:100%; margin:0 auto; position:relative;}
#headerIn h1{font-size:24px; padding-top:5px;}
#headerIn .inner{position: relative;}
#headerIn p{width:60px;height:60px;position:absolute;right:2%;padding:10px;display: block;top:0}
#headerIn p img{width:100%;}
#headerIn .gnb2{position:absolute; font-size:0.9rem;top:10px; left:27%;width:750px;font-family: 'Sarabun', sans-serif;color: #fff;font-weight: 500;transition: all 0.2s;padding-top:150px;z-index: 999999;}
#headerIn .gnb2 li{float:left; width:calc((100% - 20px)/4); text-align:center;}
#headerIn .gnb2 li:hover a{color:#90deff;cursor: pointer;}
#headerIn .gnb2 li:active a{color:#90deff;cursor: pointer;}
#content .gnb{position:fixed;top:30%;right:4%; z-index: 2;}
#content .gnb > li{position: relative;transition: all 0.3s 0s;color: #fff;right:-90%;margin-bottom:7px; } 
#content .gnb > li.on{opacity:1;} 
#content .gnb > li.on a{opacity: 1;font-weight: 600;} 
#content .gnb > li > a{font-size:0.8rem;display: block;height:30px;opacity:0.8; }
#content .gnb > li > a:link{width:200px;}
#content .gnb> li:hover{color:#90deff;cursor: pointer;}
.active a{color:#90deff;cursor: pointer;text-decoration:underline }



@media screen and (max-width: 1250px) and (min-width:1100px){
  #headerIn .gnb2{left:20%}
  #content .gnb > li a{font-size: 0.3rem;}
  #headerIn .gnb2 li:nth-child(3){margin-right: 20px;}
  #headerIn .gnb2{font-size: 1rem;}
 
}

@media screen and (max-width: 1099px) and (min-width:850px){
  #headerIn .gnb2{left:17%}
  #content .gnb > li a{font-size: 0.3rem;}
  #headerIn .gnb2 li:nth-child(3){margin-right: 20px;}
  #headerIn .gnb2 li{width: calc((100% - 150px)/4)}
  #headerIn .gnb2{font-size: 0.8rem;}
 
}


@media screen and (max-width: 849px) and (min-width:700px){
  #headerIn .gnb2{left:17%; }
  #content .gnb > li a{font-size: 0.3rem;}
  #headerIn .gnb2 li{width: calc((100% -350px)/5)}
  #headerIn .gnb2{font-size: 0.6rem;width: 650px;}
 
}



@media screen and (max-width: 699px) and (min-width:520px){
  #headerIn .gnb2{left:16%; }
  #content .gnb > li a{font-size: 0.3rem;}
  #content .gnb {display: none;}
  #headerIn .gnb2 li{width: calc((100% -350px)/5)}
  #headerIn .gnb2{font-size: 0.6rem;width: 500px;}
 
}



@media screen and (max-width: 519px) and (min-width:400px){
  #headerIn .gnb2{left:10%; }
  #content .gnb > li a{font-size: 0.3rem;}
  #content .gnb {display: none;}
  #headerIn .gnb2 li{width: calc((100% -350px)/5)}
  #headerIn .gnb2{font-size: 0.6rem;width: 420px;}
 
}




@media screen and (max-width: 399px) and (min-width:200px){
  #headerIn .gnb2{left:11%;right: 10%; }
  #content .gnb {display: none;}
  #headerIn .gnb2 li{width: calc((100% -350px)/5)}
  #headerIn .gnb2{font-size: 0.4rem;width: 350px;}
 
}

#content{position: relative;top:300px;margin-bottom: 100px;}
#content .page01{background:#fff;width: 86%;;position: relative;left:7%;
margin-bottom: 100px;border-bottom-left-radius:80px;border-bottom-right-radius:80px}
#content .page02{background:rgba(255, 255, 255, 0.473);width: 78%;height:30px;margin: 0 auto}
#content .page03{background:rgba(255, 255, 255, 0.068);width: 70%;height:30px;margin: 0 auto}


/*#cont1{background: url(../image/butter.png) no-repeat;width: 100%;height:800px;background-size: cover;top:100%}*/
#cont1 .hello_text{ color:#fff;position: relative;text-align: center;}
#cont1 .hello_text p:nth-child(1){max-width: 100%;z-index: 1;}
#cont1 .hello_text p:nth-child(1) img{width: 100%;}
  #cont1 .hello_text02{z-index: 99;position: absolute;
    top:10%;left:35%;font-size:2.5rem;padding-bottom: 100px;}
  #cont1 .hello_text  span{font-weight:bold}
  #cont1 .hello_text02 p:nth-child(1){font-size: 1.5rem;}

  
#cont2{background:#fff;}
#cont2 .one_name{font-family:'Sarabun', sans-serif;margin-bottom:100px}
#cont2  .name_text{margin-bottom:10px;font-size: 2rem;margin-left:20px}
#cont2 .name_bar{width:210px;height: 3px; background:#F9B02A;margin: 0 0 50px 0;}

#cont2 .about_all{display: flex; margin: 0 auto 80px}

@media screen and (max-width: 1250px) and (min-width:1100px){
  #cont1 .hello_text{top:16%}}


@media screen and (max-width: 849px){
 #content{top:180px}}










#cont2 .about_all > p{margin:0 5% 0 auto}
#cont2 .about_all > p img{width: 100%;}
#cont2 .about_all .about_text{width: 600px;font-family: 'Gowun Dodum', sans-serif; margin:0 auto ; padding: 50px 0 0 0 ;font-size: 1.2rem;}
#cont2 .about_all .about_text p{margin-bottom:10px;position: relative;margin-right: 18%;max-width: 481px;line-height: 3rem;}
#cont2 .about_all .about_text p .red{color:#e03c3c} 
#cont2 .about_all .about_text p .red > span{color:#444444}
#cont2 .about_all .about_text p span{position: relative;font-size: 1.5rem;}
#cont2 .about_all .about_text h2{display: inline-block;position: relative;padding-top:50px;margin-bottom:20px}
#cont2 .about_all .about_text h2 span{z-index:999999;position: relative;font-family:'Sarabun', sans-serif;font-size: 2rem;}
#cont2 .about_all .about_text h2::before{content: '';display: block;width:25px ;height:25px;background:#CFF1FF;position: absolute;bottom:0;left:-10% ;z-index: 1;}
#cont2 .about_all .about_text ul{display: flex;font-size: 1rem;position: relative;left:5%;margin-right:4%;flex-wrap: nowrap;margin-bottom: 20px;}
#cont2 .about_all .about_text li{margin-right:45px;list-style: circle;}
#cont2 .about_all .about_text li:last-child{margin:0}
.charts{display: flex;font-family:'Sarabun', sans-serif;position: relative;left:15%;overflow: hidden; max-width: 90%;}
.chart01{ display: flex;}
.chart02{ display: flex;}
.charts .chart{ position: relative; margin-right: 50px;}
.charts .chart p{margin-left: 17px;margin-bottom:40px;}
.charts .chart h2{position: absolute; left: 50%;top:55%;transform: translate(-60% , -60% );margin: 0;font-size: 0.8rem;}
.charts .chart svg{max-width: 120px;max-height: 120px;}
.charts .chart circle{fill:#fff;stroke-width:7; 
  transform: rotate(-90deg); transform-origin: 50% 50%;stroke-linecap: round;
}
@keyframes line{
  from {
    stroke-dashoffset: 314; }
  to {
    stroke-dashoffset: 30;}}
    @keyframes line01{
      from {
        stroke-dashoffset: 314; }
      to {
        stroke-dashoffset: 80;}}
        @keyframes line02{
          from {
            stroke-dashoffset: 314; }
          to {
            stroke-dashoffset: 150;}}

            @keyframes line03{
              from {
                stroke-dashoffset: 314; }
              to {
                stroke-dashoffset: 50;}}
.charts .chart:nth-child(1) circle{stroke:#08003B;stroke-dasharray:314;stroke-dashoffset:50; animation-name: line; }
.charts .chart:nth-child(2) circle{stroke:#FB7B1B;stroke-dasharray:314;stroke-dashoffset:80; animation-name: line03;}
.charts .chart:nth-child(3) circle{stroke:#2AA9E3;stroke-dasharray:314;stroke-dashoffset:80;  animation-name: line01;}
.charts .chart:nth-child(4) circle{stroke:#E06E3C;stroke-dasharray:314;stroke-dashoffset:80; animation-name: line01;}
.charts .chart:nth-child(5) circle{stroke:#0E6CBC;stroke-dasharray:314;stroke-dashoffset:150;animation-name: line02;}
.charts .chart:nth-child(6) circle{stroke:#1D6B43;stroke-dasharray:314;stroke-dashoffset:80; animation-name: line03;}
.ani {animation-duration: 10s; animation-fill-mode: forwards;}
#cont2 .about .sklis > h2{display: inline-block;position: relative;left: 11%;margin-bottom: 70px;}
#cont2 .about .sklis > h2 span{z-index:999999;position: relative;font-family:'Sarabun', sans-serif;font-size: 2rem;}
#cont2 .about .sklis > h2::before{content: '';display: block;width:25px ;height:25px;background:#CFF1FF;position: absolute;bottom:0;left:-10% ;z-index: 1;}
#cont2  .about_sklis div p:nth-child(3){font-size: 1rem;text-align: center;margin: 0 0 0  -30px}
#cont2 .licence{width: calc(100% - 1000px);margin-left:5%;z-index: 999999;}
#cont2 .licence .licence_bar{width:120px;height: 3px; background:#00B9E6;margin-bottom:50px;;}
#cont2 .licence h2{padding-top:10px;font-size: 1.5rem;z-index: 999999;}
#cont2 .about_lic{display: flex; }

#cont2 .about_lic div{width: calc((100% - 100px)/3);text-align: center;font-size: 1rem;margin-left:-5%}
#cont2 .about_lic div p:nth-child(1){width:50px;height:50px;margin-bottom: 30px;margin-left:35%}
#one .about_lic div img{width:100%;}

#cont2 .about_all{display: flex; margin: 0 auto 80px}

@media screen and (max-width: 1250px) and (min-width:1100px){
  #cont1{height:auto}
  #cont1 .hello_text{top:0}
  #cont1 .hello_text02{margin:0 auto;font-size: 1.8rem;max-width: 400px;}
  #cont1 .hello_text02 p:nth-child(1){font-size: 1.3rem;}
  #cont2 .about .sklis > h2{left: 5%; margin-bottom: 50px;}
  #cont2 .about_all .about_text p{margin-bottom:10px;position: relative;margin-right:9%;max-width: 481px;line-height: 2.5rem;}
  #cont2 .about_all > p{margin:0 6% 0 5%;width:400px;}
  #cont2 .about_all .about_text ul{font-size:0.9rem}
  .charts{left:2.7%;top:5%} 
  .charts .chart p {font-size: 0.8rem;}
  .charts .chart circle{fill:#fff;stroke-width:7; 
    transform: rotate(-90deg); transform-origin: 50% 50%;stroke-linecap: round;}
    #cont2 .about_all .about_text ul{display: block;line-height: 50px;margin-bottom:0} 
    .charts{max-width: 95%;} 
 
  }



@media screen and (max-width: 1099px) and (min-width:850px){
  #cont1 .hello_text02{left:32%;font-size: 2rem;}
  #cont2 .about_all > p {margin: 0 5%;}
  #cont2 .about_all > p img{width: 90%;}
  #cont2 .about_all .about_text {font-size :1rem;}
  #cont2 .about_all .about_text ul{display: block;line-height: 50px;margin-bottom:0} 
  .charts .chart p{font-size: 1rem;}
  .chart01{margin-bottom: 100px;}
  .charts{max-width: 90%;display: block;margin: 0 auto;padding-left:10%}
  .charts .chart02 .chart h2{top:66%} 
}


@media screen and (max-width: 849px){
  #cont1 .hello_text02{left:32%;font-size: 1.6rem;top:5%}
  #cont1 .hello_text02 p:first-child{font-size: 1.1rem;}
  #cont2 .about_all{display:block;}
  #cont2 .about_all > p {margin: 0 auto;max-width: 500px;padding-left: 10%;}
  #cont2 .about_all > p img{width: 75%;}
  #cont2 .about_all .about_text {font-size :1rem;}
  #cont2 .about_all .about_text ul{display: block;line-height: 50px;margin-bottom:0} 
  .charts .chart p{font-size: 1rem;}
  .chart01{margin-bottom:50px;}
  .charts{max-width: 90%;display: block;margin: 0 20px;}
  #cont2 .about_all .about_text > p:first-child{text-align: center;margin:0 5% 0 9%;font-size: 0.8rem;line-height: 2rem;}
  #cont2 .about_all .about_text p .red{font-size: 1rem;}
  #cont2 .about_all .about_text p span{font-size: 1rem;}
  #cont2 .about_all .about_text h2{margin-left: 5%;}
  #cont2 .about_all .about_text ul{margin-left: 5%;}
  .sklis h2{margin-left:-2%}
  #cont2 .name_text{font-size:1.5rem}
  #cont2 .name_bar{width: 150px;}
  #cont1 .hello_text02 p:last-child{font-size: 1.3rem;}
  #cont2 .about_all .about_text{max-width:100%;}
  .charts .chart02 .chart h2{top:66%} 
  #cont2 .about .sklis > h2 span{font-size: 1.5rem;}
  #cont2 .about .sklis > h2{margin-bottom: 30px;}
  #cont2 .about_all .about_text h2 span{font-size: 1.5rem;}
  #cont2 .about_all .about_text h2{left:3.6%;}
}


@media screen and (max-width: 650px){
  .charts{margin: 0 0 0 -10%;}

  
}


@media screen and (max-width: 550px){
  #cont1 .hello_text02 p:last-child{font-size: 0.9rem; padding-bottom: 50px;}
}

@media screen and (max-width: 500px){
.charts .chart .ani{display: none;}

.charts .chart01{display:block;margin-bottom:0px;}
.charts .chart01 .chart{display: flex;position: relative;margin-bottom: 20px;}
.charts .chart01 .chart h2{top: 15%; margin-left: 30%;}
.charts .chart01 .chart svg{display: none;}
.charts .chart01 .chart .bar_01{width:200px;height: 20px;background: #08003B;position: absolute;top:35px;border-radius: 50px;}
.charts .chart01 .chart .bar_02{width:180px;height: 20px;background: #FB7B1B;position: absolute;top:35px;border-radius: 50px;}
.charts .chart01 .chart .bar_03{width:160px;height: 20px;background: #00B9E6;position: absolute;top:35px;border-radius: 50px;}
.charts .chart02{display:block}
.charts .chart02 .chart svg{display: none;}
.charts .chart02 .chart{display: flex;position: relative;margin-bottom: 20px;}
.charts .chart02 .chart h2{top: 15%; margin-left: 30%;}
.charts .chart02 .chart .bar_01{width:160px;height: 20px;background: #08003B;position: absolute;top:35px;border-radius: 50px;}
.charts .chart02 .chart .bar_02{width:120px;height: 20px;background: #FB7B1B;position: absolute;top:35px;border-radius: 50px;}
.charts .chart02 .chart .bar_03{width:180px;height: 20px;background: #00B9E6;position: absolute;top:35px;border-radius: 50px;}
.charts .chart p{font-weight:300;font-size: 0.8rem;}
#cont2 .about_all .about_text ul{font-size: 0.7rem;line-height: 30px;left: 10%;}
#cont2 .about_all{margin-bottom:40px;}
#cont2 .one_name{margin-bottom:30px;}

}


@media screen and (max-width: 450px){
  #cont1 .hello_text02 p:first-child{font-size: 0.5rem;}
}
@media screen and (max-width: 350px){
  #cont1 .hello_text02 p:first-child{font-size: 0.5rem;}
  #cont1 .hello_text02 p:last-child{font-size: 0.7rem; padding-bottom: 30px;}
}







#cont3{background: #fff;margin-bottom:200px;position: relative;padding-top:100px;}
#cont3 .one_name{height:50px;font-family:'Sarabun', sans-serif;margin-bottom:100px;padding-top:10px}
#cont3  .name_text{margin-bottom:10px;font-size: 2rem;margin-left:20px;z-index: 999999}
#cont3 .one_name span{font-size: 0.9rem;margin-right:10px;}
#cont3 .name_bar{width:200px;height: 3px; background:#F9B02A;margin: 0;}

#cont3 .web_img01{width:500px;height: 380px;z-index: 999;position: relative;right:0}
#cont3 .web_img01 img{box-shadow: 2px 2px 10px  rgb(0, 0, 0);}
.main_back{background:url(../image/back02.png) no-repeat;background-size: cover;width:100%;height:500px;position: absolute;right:0;z-index: 1;bottom:-160px}
#cont3 .web_main{display: flex;position: relative;z-index: 99;}
#cont3 > div:nth-child(3){margin-bottom:80px}
#cont3 .web_text01{width: calc(100% - 550px);;text-align: right;position: relative; left: 3%; margin-right: 150px;margin-bottom:200px}
#cont3 .web_text01 h2{padding-top:77px}
#cont3 .web_text01 span{font-family:'Sarabun', sans-serif;}
#cont3 .web_text01 p{font-size:1.1rem;max-width: 500px; margin: 0 0 30px auto;line-height: 2rem;}
#cont3 .web_text01 > p:nth-child(1){width:130px;height:50px;position:absolute;right: 0;margin: 0;top:7% }
#cont3 .web_text01 > p:nth-child(1) img{width: 100%;}
#cont3 .web_text01 .h2_color{background:#cff1ff;width: 380px;height: 3px;position: absolute; right: -1%;}
#cont3 .web_text01 .text03{margin:0 auto;padding-top: 20px;}



#cont3 .web_text03{width:calc(100% - 550px);text-align: right;position: relative; left: 3%; margin-right: 150px;margin-bottom:200px}
#cont3 .web_text03 h2{padding-top:77px}
#cont3 .web_text03 span{font-family:'Sarabun', sans-serif;}
#cont3 .web_text03 p{font-size:1.1rem;max-width: 500px; margin: 0 0 30px auto;line-height: 2rem;}
#cont3 .web_text03 > p:nth-child(1){width:130px;height:50px;position:absolute;right: 0;margin: 0;top:7% }
#cont3 .web_text03 > p:nth-child(1) img{width: 100%;}
#cont3 .web_text03 .h2_color{background:#cff1ff;width: 190px;height: 3px;position: absolute; right: -1%;}
#cont3 .web_text03 .text03{margin:0 auto;padding-top: 20px;}


#cont3 .web_main02 .web_img{width:500px;height: 380px;z-index: 999;margin-right:20px;}
#cont3 .web_main02 .web_img img{width: 100%;box-shadow: 2px 2px 10px  rgb(0, 0, 0);}
#cont3 .web_main02{display: flex;position: relative;}
#cont3 .web_main02 .web_text{text-align: left;position: relative; right: 3%; margin-left: 150px;z-index: 999;}
#cont3 .web_main02 .web_text span{font-family:'Sarabun', sans-serif;}
#cont3 .web_main02 .web_text > h2{padding-top:5px}
#cont3 .web_main02 .web_text .text03{margin:0 auto;padding-top: 20px;}
#cont3 .web_main02 .web_text > p{font-size:1.1rem;}
#cont3 .web_main02 .web_text > p:nth-child(1){width:50px;height:50px;left: 0;margin: 0;top:7% }
#cont3 .web_main02 .web_text > p:nth-child(1) img{width: 100%;z-index: 9;}
#cont3 .web_main02 .web_text > p:nth-child(4){margin-bottom:10px;padding-top: 20px;}
#cont3 .web_main02 .h2_color{background:#cff1ff;width: 380px;height: 3px;position: absolute; left: -1%;}
#cont3 .web_main02 .web_text > p:nth-child(5){max-width: 600px; margin: 0 auto 30px 0;line-height: 2rem; }


#cont3 .web_more p{width:150px; line-height: 40px;background:#fff;border-radius: 30px;text-align:center;display: inline-block;font-size: 0.8rem;margin:4px;
box-shadow: 3px 3px 6px #ddd;position: relative;cursor: pointer;}
#cont3 .web_more p:nth-child(1):hover{background:#CFF1FF}
#cont3 .web_more p:nth-child(2):hover{background:#CFF1FF}
#cont3 .web_more p a{z-index: 999999;width:150px;padding:15px 50px}
  
 
@media screen and (max-width: 1250px) and (min-width: 1100px){
  #cont3 .web_img01{max-width:400px;} 
  #cont3 .web_img01 img{width: 100%;} 
  #cont3 .web_text03 .h2_color{width: 150px;}
  #cont3 .web_text03 > p:nth-child(1){top:1%} 
  #cont3 .web_text03 p {max-width: 450px;}
  #cont3 .web_text03 h2{padding-top:50px}
  #cont3 .web_text03{margin-right: 10%;margin-left: 5%;font-size: 1rem;margin-bottom: 100px;}
  #cont3 .web_text03  .web_more{margin-left:40%;position: absolute;right:0}
  .web_more{display: flex;margin-top: 20px;}
  #cont3 .web_main02 .web_img{max-width:400px;} 
  #cont3 .web_img02 img{width: 100%;} 
  #cont3 .web_main02 .web_text > p:nth-child(1){margin-top:-15px;width: 35px;}
  #cont3 .web_main02 .web_text h2{font-size: 1.7rem;margin-top:-10px}
  #cont3 .web_main02 .web_text{margin-left: 6%;}
  #cont3 .web_main02 .h2_color{width:350px;}
  #cont3 .web_main02 .web_text > p:nth-child(5){width: 420px;font-size: 1rem;margin-right:20px;}
  #cont3 > div:nth-child(3){margin-bottom: 20px;}
  #cont3 .web_text01 .h2_color{width: 150px;}
  #cont3 .web_text01 .web_more{margin-left:40%;position: absolute;right:0}
  #cont3 .web_text01 > p:nth-child(1){top:1%} 
  #cont3 .web_text01 p {max-width: 450px;}
  #cont3 .web_text01 h2{padding-top:50px}
  #cont3 .web_text01{margin-right: 10%;margin-left: 5%;font-size: 1rem;margin-bottom: 100px;}}



  @media screen and (max-width: 1099px) and (min-width:850px){
  
   
  }
  
  
  @media screen and (max-width: 849px) and (min-width:700px){
  
  
   
  }
  
  
  
  @media screen and (max-width: 699px) and (min-width:520px){
  
  }
  
  
  
  @media screen and (max-width: 519px) and (min-width:400px){
  
  }
  
  
  
  
  @media screen and (max-width: 399px) and (min-width:200px){
  }









.last{background:#111111;}

.container{margin:0 auto}
.row{display:flex;flex-wrap:wrap;}
.row > div{width:calc((100% - 60px) / 4);margin-right:20px;}
.row > div:nth-child(3n){margin-right:0}

#cont4{background:#fff6e4 ;z-index: 999999;
margin-top:-50px;border-bottom-right-radius:1%;
  border-bottom-left-radius:1%;margin-bottom:400px;padding-bottom:50px; ;}
#cont4 .one_name{height:50px;font-family:'Sarabun', sans-serif;margin-bottom:100px;z-index: 999999;margin-top:-50px}
#cont4 .one_name span{font-size: 0.9rem;margin-right:20px;}
#cont4 .name_text{margin-bottom:10px;font-size: 2rem;margin-left:20px;}
#cont4 .name_bar{width:270px;height: 3px; background:#a9e7f7;margin: 0;}

#fh5co-work {
overflow: hidden;
position: relative;
padding-top:28px;
background:#fff6e4;
margin:0 0 0  5%
/*background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));*/
/* Android 2.3 */
/*background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);*/
/* IE10+ */
/*background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);*/
}
#fh5co-work a {
color: rgba(255, 255, 255, 0.5);
text-decoration: underline;
}

#fh5co-work .section-heading h2 {
color: #fff;
}
#fh5co-work .section-heading h2:after {
background: rgba(255, 255, 255, 0.3);
}
#fh5co-work .section-heading h3 {
color: rgba(255, 255, 255, 0.8);
}
#fh5co-work .fh5co-project-item {
display: block;
max-width: 300px;
height: 300px;
position: relative;
top: 0;
overflow: hidden;
z-index: 9;
margin-bottom: 30px;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
-ms-border-radius: 7px;
border-radius: 7px;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
}

#fh5co-work .fh5co-project-item img {
z-index: 8;
opacity: 1;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
border-radius:10%;
width: 100%;
}
#fh5co-work .fh5co-project-item .fh5co-text {
padding: 10px 20px;
}
#fh5co-work .fh5co-project-item .fh5co-text h2, #fh5co-work .fh5co-project-item .fh5co-text span {
text-decoration: none !important;
}
#fh5co-work .fh5co-project-item .fh5co-text h2 {
font-size: 18px;
font-weight: bold;
margin: 0;
}
#fh5co-work .fh5co-project-item .fh5co-text span {
color: #b3b3b3;
font-size: 16px;
font-weight: 400;
}
#fh5co-work .fh5co-project-item:hover, #fh5co-work .fh5co-project-item:focus {
-webkit-box-shadow: 7px 0px 0px 3px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 7px 2px 0px 3px rgba(0, 0, 0, 0.4);
-ms-box-shadow: 7px 2px 0px 3px rgba(0, 0, 0, 0.4);
-o-box-shadow: 7px 2px 0px 3px rgba(0, 0, 0, 0.4);
box-shadow: 7px 2px 10px 3px rgba(0, 0, 0, 0.4);
text-decoration: none;
top: -15px;
background-color:#fff ;
}
#fh5co-work .fh5co-project-item:hover img, #fh5co-work .fh5co-project-item:focus img {
opacity: 100;
}
#fh5co-work .fh5co-project-item:hover h2, #fh5co-work .fh5co-project-item:hover span, #fh5co-work .fh5co-project-item:focus h2, #fh5co-work .fh5co-project-item:focus span {
text-decoration: none !important;
}


.row row-bottom-padded-sm{width: 100%;overflow-x: hidden;overflow-y: scroll;}


@media screen and (max-width: 1250px){
.main_back{bottom:-100px}
#cont4 .one_name{padding-top:0}
#cont4{margin-top:-100px}
#fh5co-work .fh5co-project-item{height: auto;}
#fh5co-work{margin:0 0 0 2%}}



