@charset "utf-8";

/*font-family:'Sarabun', sans-serif;*/

.inner{margin: 0 auto}
#header{position: relative;margin-bottom:250px;padding-top:200px;margin-left:100px}
#header .inner{position: relative;}
#header img{position:absolute;right:0;padding:10px;display: block;top:0}

.gnb{position:absolute; font-size:0.9rem;top:10px; left:27%;width:750px;font-family: 'Sarabun', sans-serif;color: #fff;font-weight: 500;}
.gnb li{float:left; width:calc((100% - 20px)/4); text-align:center;}
.gnb li:hover a{color:#2AA94C}
.gnb li.active a{color:#2AA94C}

#content > div{width:100%; height:100%; position:absolute; left:0; overflow:hidden;}
#content .inner{width:1000px; margin:0 auto; overflow:hidden;}
#content .inner img{width:100%;}




#sidebar {padding: 20px; ;overflow-x: hidden;top: 0; right:0;
  z-index:999999;margin:0;display:flex; position: fixed;top:20%}
#sidebar nav ul li{display: block; width: 14px;height: 13px;margin:7px;position: relative;}
#sidebar nav ul li a{display: block;position: relative;z-index:1;width: 100%;height: 100%;cursor: pointer; text-decoration: none;}
#sidebar nav ul li a span{height: 12px;width: 12px;margin:-6px 0 0 -6px; border-radius: 100%;}
#sidebar nav ul .li_div{right:20px}



/*
#sidebar nav a::after{content: '';width:20px;height: 20px;border-radius: 20px;background: #fff;margin:30px}
#sidebar nav a span{color:#fff; display: block; font-size: 0.6em; font-weight: bold; opacity: 100;position: relative;
left:-50px}
#sidebar nav a:hover{opacity: 100%;}*/



/*
#sidebar {padding: 20px; ;overflow-x: hidden;top: 0; right:0;
   z-index:999999;margin:0;display:flex; position: fixed;top:20%}
#sidebar nav li{width: 20px;height: 20px;border-radius: 20px;background: #fff;margin:30px}
#sidebar nav a { color: #fff; display: block; font-size: 0.6em; font-weight: bold; letter-spacing: 0.25em; line-height: 1.75;padding: 1.35em 0;
  text-decoration: none; margin-bottom:30px;z-index: 999999;}
#sidebar nav a:hover{color: #2AA94C;} 
#sidebar nav a:active{color: #2AA94C;}   .cont3{position: relative;display: flex;height: 850px;margin-bottom:50px}
 */
.content{position: relative;margin:0 auto}
.content .page01{background:#fff;width: 86%;z-index: 999999;height:10000px;margin-bottom:100px}
.content .page02{background:rgba(255, 255, 255, 0.473);width: 78%;height:30px;/*position:absolute;top:-30px;left:10%;z-index: 1;*/}
.content .page03{background:rgba(255, 255, 255, 0.068);width: 70%;height:30px;/*position:absolute;top:-60px;left:14%;z-index: 1;*/}
/*.about_skills ul > li > div{display: flex;flex-wrap: wrap;justify-content: space-between;}*/

/*.hello{display: flex;flex-wrap: wrap;position: relative;top: 5%;}*/
.cont1{position: relative;display: flex;}

.cont1 .hello_smile > p{display: flex;flex-wrap: wrap;}
.cont1 .hello_smile{position: relative;height: 350px;top:250px;left:5%;width: calc(100% - 1000px);}
.cont1 .hello_smile .mouse{position: absolute;bottom:0;left:15%} 
.cont1 .hello_smile .eye01{margin-right: 100px;}
.cont1 .hello_smile .eye01, .eye02{background:#F5C224;width: 70px;height: 70px;border-radius: 50px;}
.cont1 .hello_smile .mouse{background: url(../image/mouse01.png)no-repeat;width: 300px;height: 150px; animation: mouse 3s ease infinite 0.5s;margin-left:50px}
@keyframes mouse{
0%{background: url(../image/mouse01.png)no-repeat;width: 300px;height: 150px;}
30%{background: url(../image/mouse01.png)no-repeat;width: 300px;height: 150px;}
50%{background: url(../image/mouse02.png)no-repeat;width: 300px;height: 150px;}
80%{background: url(../image/mouse02.png)no-repeat;width: 300px;height: 150px;}
100%{background: url(../image/mouse01.png)no-repeat;width: 300px;height: 150px;}}


.cont1 .hello_text{background:url(../image/butter.png)no-repeat;margin:0;
color:#fff;width:1000px;;background-size: cover;height:800px;padding-right:0px}
.cont1 .hello_mintex{position: relative;top:230px;right:10%}
.cont1 .hello_text p{width:450px;margin-right:80px}
.cont1 .hello_text p:nth-child(2){margin-bottom:20px;font-size:2.5rem;margin-bottom:10px}
.cont1 .hello_text p:nth-child(3){font-size: 0.95rem;margin-right:60px}
.cont1 .hello_text span{font-weight:bold}




.cont2{position: relative;display: flex;height: 850px;background: #FAF4F0;padding-bottom:50px}
.cont2 .about_right{margin:0;}
.cont2 .about_name{position: absolute;margin: 0 0 0 60px;padding-top:50px;height: 100px;width:450px;}
.cont2 .about_name .about_colorbox{background:#2AA94C;width:50px;height:15px;
  position:relative;display: flex;left:0;z-index: 999999;margin:0;left:-50px}
  .cont2 .about_name   .about_one{margin-top:-10px}
.cont2 .about_name h2{font-size: 3rem;position: relative;left:-45px;top:0px;display: flex;}
.cont2 .about_name .about_line{background:rgb(100, 100, 100);width:240px;height:1.5px;position: relative;bottom:-8px;z-index: 1;left:-110px}
.cont2 .about_right{position: relative;width: calc(100% - 400px);}
.cont2 .about_main{display: flex;}


.cont2 .about_main .dogu img{width:85%; position: relative; top:25%;z-index:99;}
.cont2 .about_main .dogu{margin:0 50px 0 50px;width: 400px;position: relative;left:15%}
.cont2 .about_main .dogu .one01{z-index:999;width: 50px; height: 50px; border:1.5px dotted #555; border-radius: 30px ;position: absolute;display: flex;top:34%;right:35%}
.cont2  .about_main .dogu .one01::before{content: '';width: 315px;height: 1px; background: #555; transform: rotate(-21deg);position: absolute;display: flex;top:-112%;left:53.3%}
.cont2 .about_main .dogu .one01::after{content: '';width: 324px;height: 1px; background: #555; transform: rotate(32deg);position: absolute;display: flex;top:109px;left:43%}

.cont2 .about_main .dogu .one02{z-index:999999;width: 50px; height: 50px; border:1.5px dotted #555; border-radius: 30px ;position: absolute;display: flex;bottom:30%;left:20%}
.cont2 .about_main .dogu .one02::before{content: '';width: 403px;height: 1px; background: #555; transform: rotate(-5deg);position: absolute;display: flex;top:-36%;left:67.3%}
.cont2 .about_main .dogu .one02::after{content: '';width: 412px;height: 1px; background: #555; transform: rotate(10deg);position: absolute;display: flex;top:87px;left:49%}



.cont2 .about_main .about_all{width: calc(100% - 400px);position: relative;right:3%;top:3%}


.sklis{border:1px solid#111;position: relative;top:25%;max-width: 400px;padding-bottom:5px;background-color: #fff;z-index:999999;right:-15%}
.sklis .color_one{z-index: 1;;width:35px;height:35px;border-radius: 20px;background:rgba(25, 194, 107, 0.164);display:flex;position: absolute;left:6%;top:2%;}
.sklis h2{margin-left:40px; padding-top:10px;font-size: 1.5rem;margin-bottom:10px;z-index: 999999;}
.sklis > div{font-family:'Sarabun', sans-serif;margin:0;padding-left:30px}
.sklis > div > div{display: flex;flex-wrap: wrap;justify-content: space-between;}
.sklis .sklis_01{width:225px;}
.sklis .sklis_02{width:calc(100% - 225px);}
.sklis div:last-child{margin-bottom:14px}
.sklis div  div p:nth-child(1){font-size:1rem;margin-left: 15px;}
.sklis div div p:nth-child(2){width: 30px;font-size: 0.8rem;color:#2AA94C;font-weight:800;margin-right:30px;}
.sklis_bar01{background:#F5C224;border-radius: 20px;height:20px;width:280px;margin:10px 0 10px 10px;animation: bar 3s ease 0.5s;}
@keyframes bar{
    0%{width:0px;}
    80%{max-width:280px;}
    100%{max-width:280px;}}
.sklis_bar02{background:#F5C224;border-radius: 20px;height:20px;width:260px;margin:10px 0 10px 10px;animation: bar02 3s ease 0.5s;}
@keyframes bar02{
    0%{width:0px;}
    80%{width:260px;}
    100%{width:260px;}}
.sklis_bar03{background:#F5C224;border-radius: 20px;height:20px;width:230px;margin:10px 0 10px 10px;animation: bar03 3s ease 0.5s;}
    @keyframes bar03{
        0%{width:0px;}
        80%{width:230px;}
        100%{width:230px;}}


.license{display: flex;flex-wrap: wrap;max-width: 400px;border:1px solid#111;position: relative;top:28%;background-color: #fff;z-index:999999;right:-15%}
.license .lice_div{text-align: center;margin-bottom:10px;padding-top:10px;display:flex;flex-wrap: wrap;}
.license .color_one{z-index: 1;;width:35px;height:35px;border-radius: 20px;background:rgba(25, 194, 107, 0.164);display:flex;position: absolute;left:6%;top:4%;}
.license h2{font-family:'Sarabun', sans-serif;font-size: 1.5rem;font-weight: 500;width: 100%;margin-left:40px; padding-top:10px;font-size: 1.5rem;margin-bottom:10px;}
.license span{font-family:'Sarabun', sans-serif;}
.license div img{margin-bottom:10px}
.license .lice_div > div{width:calc((100% - 40px)/3);font-size: 1rem;}



 .cont3 #sidebar{z-index: 1;}
  .cont3 .about_right{margin:0;}

.cont3 .about_name{position: absolute;margin: 0 0 0 20px;padding-top:50px;height: 100px;}
.cont3 .about_name .about_colorbox{background:#2AA94C;width:50px;height:15px;
  position:relative;display: flex;left:0;z-index: 999999;margin:0}
.cont3 .about_name .about_one{margin-top:-10px}
.cont3 .about_name h2{font-size: 3rem;position: relative;left:0;top:0px;display: flex;width: 500px;}
.cont3 .about_name .about_line{background:rgb(100, 100, 100);width:420px;height:1.5px;position: relative;bottom:-10px;z-index: 1;margin:0}
  .cont3 .about_right{position: relative;width: calc(100% - 337px);}

    
.cont3 .about_main .web01{display: flex;padding-top:200px;height: 285px;margin:0;}
.cont3 .about_main .web01 > p img{width:100%}
.cont3 .about_main .web01 > p{margin: 0;padding-top:0px;width: 800px;}
.cont3 .about_main  .web_text01{padding: 35px 20px 50px 50px;background:#FAEAC8;}
.cont3 .about_main .web_text01 span{font-family:'Sarabun', sans-serif; ;}
.cont3 .about_main .web_text01 p:nth-child(1){font-size: 1.5rem;font-weight:600;margin-bottom:10px}
.cont3 .about_main .web_text01 p:nth-child(2){font-size: 1rem;margin-bottom:10px}
.cont3 .about_main .web_text01 p:nth-child(3){font-size: 1.1rem;margin-bottom:20px}
.cont3 .about_main .web_text01 > div{display: flex;}
.cont3 .about_main .web_text01 > div p:nth-child(1){width: 50px;height: 50px;margin: 0 20px 0 0px}
.cont3 .about_main .web_text01 > div p:nth-child(1) img{width: 100%;}
.cont3 .about_main .web_text01 > div p:nth-child(2){width: 50px;height: 50px;margin: 0 20px 0 0px}
.cont3 .about_main .web_text01 > div p:nth-child(2) img{width: 100%;}
.cont3 .about_main > div:nth-child(2){padding-top:0px}


.cont3 .about_main .web02{display: flex;padding-top:200px;height: 285px;margin:0;}
.cont3 .about_main .web02 > p img{width:100%}
.cont3 .about_main .web02 > p{margin: 0;padding-top:0px;width: 575px;}
.cont3 .about_main .web_text02{background:#F9F4F0;padding: 35px 20px 50px 50px}
.cont3 .about_main .web_text02 span{font-family:'Sarabun', sans-serif; ;}
.cont3 .about_main .web_text02 p:nth-child(1){font-size: 1.5rem;font-weight:600;margin-bottom:10px;}
.cont3 .about_main .web_text02 p:nth-child(2){font-size: 1rem;margin-bottom:10px}
.cont3 .about_main .web_text02 p:nth-child(3){font-size: 1.1rem;margin-bottom:20px}
.cont3 .about_main .web_text02 > div{display: flex;}
.cont3 .about_main .web_text02  div p:nth-child(1){width: 50px;height: 50px;margin: 0 20px 0 0px}
.cont3 .about_main .web_text02  div p:nth-child(1) img{width: 100%;}
.cont3 .about_main .web_text02  div p:nth-child(2){width: 50px;height: 50px;margin: 0 20px 0 0px}
.cont3 .about_main .web_text02  div p:nth-child(2) img{width: 100%;}


.cont4{position: relative;display: flex;height: 850px;background:#FAF4F0}
.cont4 #sidebar{z-index: 1;}
.cont4 .about_right{margin:0;}

.cont4 .about_name{position: absolute;margin: 0 0 0 20px;padding-top:50px;height: 100px;}
.cont4 .about_name .about_colorbox{background:#2AA94C;width:50px;height:15px;
position:relative;display: flex;left:0;z-index: 999999;margin:0}
.cont4 .about_name .about_one{margin-top:-10px}
.cont4 .about_name h2{font-size: 3rem;position: relative;left:0;top:0px;display: flex;}
.cont4 .about_name .about_line{background:rgb(100, 100, 100);width:550px;height:1.5px;position: relative;bottom:-10px;z-index: 1;margin:0}