@charset "utf-8";

/*font-family:'Sarabun', sans-serif;*/

.inner{margin: 0 auto}
#header{position: relative;margin-bottom: 100px;font-family: 'Sarabun', sans-serif;padding-top:100px}
#header .inner{width: 650px;position: relative;}
#header ul{color:#fff;display: flex;top:100px;
  font-size:1.5rem}

#header ul li:nth-child(1){background:url(../image/header02.png) no-repeat;width: 160px; height:35px;background-size:cover;}
#header ul li:nth-child(1) a{padding: 0 10px 0 45px;}
#header ul li:nth-child(2){background:url(../image/header02.png) no-repeat;width: 230px; height: 35px;background-size:cover;}
#header ul li:nth-child(3){background:url(../image/header01.png) no-repeat;width: 230px; height: 35px;background-size:cover;}
#header ul li:nth-child(2) a{padding: 0 10px 0 55px;}
#header ul li:nth-child(3) a{padding: 0 10px 0 55px;}
#header img{position:absolute;right:0;padding:10px;display: block;top:0}

.big_section{position: relative;margin:0 auto}
.big_section .page01{background:#fff;width: 86%;z-index: 999999;height:1000px;margin-bottom:100px}
.big_section .page02{background:rgba(255, 255, 255, 0.473);width: 78%;height:30px;/*position:absolute;top:-30px;left:10%;z-index: 1;*/}
.big_section .page03{background:rgba(255, 255, 255, 0.068);width: 70%;height:30px;/*position:absolute;top:-60px;left:14%;z-index: 1;*/}
/*.about_skills ul > li > div{display: flex;flex-wrap: wrap;justify-content: space-between;}*/

/*.hello{display: flex;flex-wrap: wrap;position: relative;top: 5%;}*/





.about{position: relative;display: flex;}
.about .side{background:url(../image/bar02.png)no-repeat;width: 400px;height:1000px;margin:0;position: relative;background-size:cover;}
.about .side_text{color:#fff;font-family: 'Sarabun', sans-serif;position: relative;bottom:1%;left:20%;width: 200px;font-size: 2rem;}
.about .side01{background:#fff;width: 3px;height:880px;position: relative;top:50px;margin:0;left:20%;}
.about .side02{background:#fff;width: 273px;height:3px;position: relative;bottom: -47px;left:4%}
.about .about_right{margin:0;}
.about .about_name{position: relative;margin: 0;padding-top:5px;height: 100px;}
.about .about_name .about_colorbox{background:#9ae4f5;width:10px;height:50px;margin:0;position: relative; top:0;}
.about .about_name h3{font-size:0.8rem;font-weight:300; margin-left:30px;position: relative;top:23px}
.about .about_name h2{color: #F5C224;font-size: 3rem;position: absolute;left:130px;top:10px;display: flex;}
.about .about_name .about_line{background:rgb(100, 100, 100);width:110px;height:1.5px;margin-left:10px;position: relative;top:-25px}
.about .about_right{position: relative;width: calc(100% - 400px);display: flex;}



.about_main{margin: 150px auto; display: flex;flex-wrap: wrap;padding-top:50px;font-family: 'Sarabun', sans-serif}

.web_right{padding-top:130px;margin: 0 50px 0 50px}
.web_right .right01{display: flex;margin-bottom:100px}
.web_right .web_img01{max-width: 400px;height: 400px;margin:-50px 0 0 0 ;} 
.web_right .web_img01 img{width:100%} 
.web_right .web_text{width:calc(100% - 450px);margin:0 100px 0 120px} 
.web_right .web_frist{display: flex;margin-bottom:30px;margin-left:0;position:relative;}
.web_right .web_frist p{margin:0}
.web_right .web_frist .color_one{width: 40px;height: 40px;border-radius: 20px;background: #00d0ff34;position: absolute;display: flex;left:-7%;top:-7px}
.web_right .web_frist p:nth-child(2){padding-left:50px} 
.web_right .web_text h2 span{font-family: 'Sarabun', sans-serif;font-weight: 400;}
.web_right .web_text h2{margin-bottom:30px;z-index: 999999;font-size: 3rem} 
.web_right .web_text p:last-child{font-size:1rem;}
.web_right .web_yellow{position: relative;}/*
.web_right .web_yellow p{height: 7px;background:#fad874;} 
.web_right .web_yellow p:nth-child(1){position: absolute;bottom:120px;width:260px;z-index:9;}
.web_right .web_yellow p:nth-child(2){position: absolute;bottom:40px;width:410px;z-index:9;}*/
.web_right  .right_img{position: relative;height:300px;}
.web_right .right_plus{display: flex;position:absolute;top:25%;left:15%;opacity: 0;}
.web_right .right_plus:hover{opacity: 100%;}
.web_right .right_plus p:nth-child(1){margin-right: 50px;}

.web_right .right02{display: flex;margin-right:10%}
.web_right .right02 .web_text{width:calc(100% - 450px);margin:0 100px 50px 0px;text-align: right;position: relative;}
.web_right .right02 .web_img img{margin-top:-100px} 
.web_right .right02 .web_frist{display: flex;position: relative;bottom:0px;left:40%;
 margin-left:0}
.web_right .right02 .right_img .web_img img{width:100%} 
.web_right .right02 .web_frist .color_one{width: 40px;height: 40px;border-radius: 20px;background: #00d0ff34;position: absolute;display: flex;left:64%;top:-11px} 


#big_section02 

.big_section02{position: relative;margin:0 auto}
.big_section02 .page01{background:#fff;width: 86%;z-index: 999999;height:1000px;margin-bottom:100px}
.big_section02 .page02{background:rgba(255, 255, 255, 0.473);width: 78%;height:30px;/*position:absolute;top:-30px;left:10%;z-index: 1;*/}
.big_section02 .page03{background:rgba(255, 255, 255, 0.068);width: 70%;height:30px;/*position:absolute;top:-60px;left:14%;z-index: 1;*/}
/*.about_skills ul > li > div{display: flex;flex-wrap: wrap;justify-content: space-between;}*/

/*.hello{display: flex;flex-wrap: wrap;position: relative;top: 5%;}*/


.big_section02 .about .side{background:url(../image/bar02.png)no-repeat;width: 400px;height:1000px;margin:0;position: relative;background-size:cover;}