@charset "utf-8";

/*font-family:'Sarabun', sans-serif;*/

.inner{margin: 0 auto}
#header{position: relative;margin-bottom: 100px;font-family: 'Sarabun', sans-serif;padding-top:100px}
#header .inner{width: 650px;position: relative;}
#header ul{color:#fff;display: flex;top:100px;
  font-size:1.5rem}

#header ul li:nth-child(1){background:url(../image/header02.png) no-repeat;width: 160px; height:35px;background-size:cover;}
#header ul li:nth-child(1) a{padding: 0 10px 0 45px;}
#header ul li:nth-child(2){background:url(../image/header01.png) no-repeat;width: 230px; height: 35px;background-size:cover;}
#header ul li:nth-child(3){background:url(../image/header02.png) no-repeat;width: 230px; height: 35px;background-size:cover;}
#header ul li:nth-child(2) a{padding: 0 10px 0 60px;}
#header ul li:nth-child(3) a{padding: 0 10px 0 50px;}
#header img{position:absolute;right:0;padding:10px;display: block;top:0}

.big_section{position: relative;margin:0 auto}
.big_section .page01{background:#fff;width: 86%;z-index: 999999;height:830px;margin-bottom:100px}
.big_section .page02{background:rgba(255, 255, 255, 0.473);width: 78%;height:30px;/*position:absolute;top:-30px;left:10%;z-index: 1;*/}
.big_section .page03{background:rgba(255, 255, 255, 0.068);width: 70%;height:30px;/*position:absolute;top:-60px;left:14%;z-index: 1;*/}
/*.about_skills ul > li > div{display: flex;flex-wrap: wrap;justify-content: space-between;}*/


.cont2{position: relative;display: flex;}
.cont2 .side{background:url(../image/bar03.png)no-repeat;width: 400px;height:830px;margin:0;position: relative;background-size:cover;}
.cont2 .side_text{color:#fff;font-family: 'Sarabun', sans-serif;position: relative;bottom:1%;left:20%;width: 200px;font-size: 2rem;}
.cont2 .side01{background:#fff;width: 3px;height:750px;position: relative;top:50px;margin:0;left:20%;}
.cont2 .side02{background:#fff;width: 273px;height:3px;position: relative;bottom: -47px;left:4%}
.cont2 .about_right{margin:0;}
.cont2.about_name{position: relative;margin: 0;padding-top:5px;height: 100px;}
.cont2 .about_name .about_colorbox{background:#9ae4f5;width:10px;height:50px;margin:0;position: relative; top:0;}
.cont2 .about_name h3{font-size:0.8rem;font-weight:300; margin-left:60px;position: relative;top:23px}
.cont2 .about_name h2{color: #F5C224;font-size: 3rem;position: absolute;left:130px;top:10px;display: flex;}
.cont2 .about_name .about_line{background:rgb(100, 100, 100);width:110px;height:1.5px;margin-left:10px;position: relative;top:-25px}
.cont2 .about_right{position: relative;width: calc(100% - 400px);display: flex;}
.cont2 .about_main{display: flex;width:100%;}


.about_main .dogu img{width:85%; position: relative; top:15%;z-index:99999;}
.about_main .dogu{margin:0 50px 0 50px;width: 400px;position: relative;}
.about_main .dogu .one01{z-index:999999;width: 50px; height: 50px; border:1.5px dotted #555; border-radius: 30px ;position: absolute;display: flex;top:34%;right:35%}
.about_main .dogu .one02{z-index:999999;width: 50px; height: 50px; border:1.5px dotted #555; border-radius: 30px ;position: absolute;display: flex;bottom:15%;left:20%}
.about_main .dogu .line01{z-index:999999;width: 322px;height: 1px; background: #555; transform: rotate(-21deg);position: absolute;display: flex;top: 27%;left:53.3%}
.about_main .dogu .line02{z-index:999999;width: 359px;height: 1px; background: #555; transform: rotate(32deg);position: absolute;display: flex;top: 54%;left:48%}
.about_main .dogu .line03{z-index:999999;width: 395px;height: 1px; background: #555; transform: rotate(-5deg);position: absolute;display: flex;bottom: 23%;left:31%}
.about_main .dogu .line04{z-index:999999;width: 404px;height: 1px; background: #555; transform: rotate(10deg);position: absolute;display: flex;bottom: 10.5%;left:29%}




.about_main .about_all{width: calc(100% - 400px);position: relative;right:3%;top:3%}


.sklis{border:1px solid#111;position: relative;top:13%;max-width: 400px;padding-bottom:5px}
.sklis .color_one{width:35px;height:35px;border-radius: 20px;background:#00d0ff34;display:flex;position: absolute;left:6%;top:2%;}
.sklis h2{margin-left:40px; padding-top:10px;font-size: 1.5rem;margin-bottom:10px;}
.sklis > div{font-family:'Sarabun', sans-serif;margin:0;padding-left:30px}
.sklis > div > div{display: flex;flex-wrap: wrap;justify-content: space-between;}
.sklis .sklis_01{width:225px;}
.sklis .sklis_02{width:calc(100% - 225px);}
.sklis div:last-child{margin-bottom:14px}
.sklis div  div p:nth-child(1){font-size:1rem;margin-left: 15px;}
.sklis div div p:nth-child(2){width: 30px;font-size: 0.8rem;color:#9ae4f5;font-weight:800;margin-right:30px;}
.sklis_bar01{background:#F5C224;border-radius: 20px;height:20px;width:280px;margin:10px 0 10px 10px;animation: bar 3s ease 0.5s;}
@keyframes bar{
    0%{width:0px;}
    80%{max-width:280px;}
    100%{max-width:280px;}}
.sklis_bar02{background:#F5C224;border-radius: 20px;height:20px;width:260px;margin:10px 0 10px 10px;animation: bar02 3s ease 0.5s;}
@keyframes bar02{
    0%{width:0px;}
    80%{width:260px;}
    100%{width:260px;}}
.sklis_bar03{background:#F5C224;border-radius: 20px;height:20px;width:230px;margin:10px 0 10px 10px;animation: bar03 3s ease 0.5s;}
    @keyframes bar03{
        0%{width:0px;}
        80%{width:230px;}
        100%{width:230px;}}


.license{display: flex;flex-wrap: wrap;max-width: 400px;border:1px solid#111;position: relative;top:16%;}
.license .lice_div{text-align: center;margin-bottom:10px;padding-top:10px;display:flex;flex-wrap: wrap;}
.license .color_one{width:35px;height:35px;border-radius: 20px;background:#00d0ff34;display:flex;position: absolute;left:6%;top:4%;}
.license h2{font-family:'Sarabun', sans-serif;font-size: 1.5rem;font-weight: 500;width: 100%;margin-left:40px; padding-top:10px;font-size: 1.5rem;margin-bottom:10px;}
.license span{font-family:'Sarabun', sans-serif;}
.license div img{margin-bottom:10px}
.license .lice_div > div{width:calc((100% - 40px)/3);font-size: 1rem;}
